<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- general env settings -->
    <add key="StartUrl" value="https://www.youtube.com/watch?v=UKKYpdWPSL8" />
    <add key="Browser" value="Chrome" />
    <add key="ElementTimeout" value="30" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="TMNAdapter.SpecFlow" />
    </stepAssemblies>
  </specFlow>
</configuration>